# NSUserDefaults
INHERIT TYPEDECL -f "NSUserDefaults" TYPE -f "NSObject"
INHERIT TYPEDECL -f "NSUserDefaults*" TYPE -f "NSObject*"
INHERIT TYPEDECL -f "NSUserDefaults$" TYPE -f "NSObject$"
INHERIT TYPEDECL -f "NSUserDefaults$*" TYPE -f "NSObject$*"

# +[NSUserDefaults alloc]
BIND -n "alloc" -s "" METHOD -f "+[NSUserDefaults alloc]" TYPEDECL -f "NSUserDefaults$"
BIND -n "alloc" -s "" METHOD -f "+[NSUserDefaults alloc]" TYPEDECL -f "NSUserDefaults$*"
#EDGE BOTH AST -s METHOD -f "+[NSUserDefaults alloc]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults alloc]" RET SUBTYPE TYPE -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults alloc]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "+[NSUserDefaults alloc]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# +[NSUserDefaults allocWithZone:]
BIND -n "allocWithZone:" -s "" METHOD -f "+[NSUserDefaults allocWithZone:]" TYPEDECL -f "NSUserDefaults$"
BIND -n "allocWithZone:" -s "" METHOD -f "+[NSUserDefaults allocWithZone:]" TYPEDECL -f "NSUserDefaults$*"
#EDGE BOTH AST -s METHOD -f "+[NSUserDefaults allocWithZone:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults allocWithZone:]" RET SUBTYPE TYPE -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults allocWithZone:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "+[NSUserDefaults allocWithZone:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "+[NSUserDefaults allocWithZone:]" PAR -i 3 SUBTYPE TYPE -f "struct _NSZone*"

# +[NSUserDefaults new]
BIND -n "new" -s "" METHOD -f "+[NSUserDefaults new]" TYPEDECL -f "NSUserDefaults$"
BIND -n "new" -s "" METHOD -f "+[NSUserDefaults new]" TYPEDECL -f "NSUserDefaults$*"
#EDGE BOTH AST -s METHOD -f "+[NSUserDefaults new]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults new]" RET SUBTYPE TYPE -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults new]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "+[NSUserDefaults new]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# +[NSUserDefaults resetStandardUserDefaults]
BIND -n "resetStandardUserDefaults" -s "" METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" TYPEDECL -f "NSUserDefaults$"
BIND -n "resetStandardUserDefaults" -s "" METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" TYPEDECL -f "NSUserDefaults$*"
#EDGE BOTH AST -s METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "+[NSUserDefaults resetStandardUserDefaults]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# +[NSUserDefaults standardUserDefaults]
BIND -n "standardUserDefaults" -s "" METHOD -f "+[NSUserDefaults standardUserDefaults]" TYPEDECL -f "NSUserDefaults$"
BIND -n "standardUserDefaults" -s "" METHOD -f "+[NSUserDefaults standardUserDefaults]" TYPEDECL -f "NSUserDefaults$*"
#EDGE BOTH AST -s METHOD -f "+[NSUserDefaults standardUserDefaults]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "+[NSUserDefaults standardUserDefaults]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "+[NSUserDefaults standardUserDefaults]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "+[NSUserDefaults standardUserDefaults]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# -[NSUserDefaults URLForKey:]
BIND -n "URLForKey:" -s "" METHOD -f "-[NSUserDefaults URLForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "URLForKey:" -s "" METHOD -f "-[NSUserDefaults URLForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults URLForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults URLForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults URLForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults URLForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults URLForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults addSuiteNamed:]
BIND -n "addSuiteNamed:" -s "" METHOD -f "-[NSUserDefaults addSuiteNamed:]" TYPEDECL -f "NSUserDefaults"
BIND -n "addSuiteNamed:" -s "" METHOD -f "-[NSUserDefaults addSuiteNamed:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults addSuiteNamed:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults addSuiteNamed:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults addSuiteNamed:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults addSuiteNamed:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults addSuiteNamed:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults arrayForKey:]
BIND -n "arrayForKey:" -s "" METHOD -f "-[NSUserDefaults arrayForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "arrayForKey:" -s "" METHOD -f "-[NSUserDefaults arrayForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults arrayForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults arrayForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults arrayForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults arrayForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults arrayForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults boolForKey:]
BIND -n "boolForKey:" -s "" METHOD -f "-[NSUserDefaults boolForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "boolForKey:" -s "" METHOD -f "-[NSUserDefaults boolForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults boolForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults boolForKey:]" RET SUBTYPE TYPE -f "BOOL"
TYPEASSERT METHOD -f "-[NSUserDefaults boolForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults boolForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults boolForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults dataForKey:]
BIND -n "dataForKey:" -s "" METHOD -f "-[NSUserDefaults dataForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "dataForKey:" -s "" METHOD -f "-[NSUserDefaults dataForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults dataForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults dataForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults dataForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults dataForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults dataForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults dictionaryForKey:]
BIND -n "dictionaryForKey:" -s "" METHOD -f "-[NSUserDefaults dictionaryForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "dictionaryForKey:" -s "" METHOD -f "-[NSUserDefaults dictionaryForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults dictionaryForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryForKey:]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults dictionaryRepresentation]
BIND -n "dictionaryRepresentation" -s "" METHOD -f "-[NSUserDefaults dictionaryRepresentation]" TYPEDECL -f "NSUserDefaults"
BIND -n "dictionaryRepresentation" -s "" METHOD -f "-[NSUserDefaults dictionaryRepresentation]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults dictionaryRepresentation]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryRepresentation]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryRepresentation]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults dictionaryRepresentation]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# -[NSUserDefaults doubleForKey:]
BIND -n "doubleForKey:" -s "" METHOD -f "-[NSUserDefaults doubleForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "doubleForKey:" -s "" METHOD -f "-[NSUserDefaults doubleForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults doubleForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults doubleForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults doubleForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults doubleForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults doubleForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults floatForKey:]
BIND -n "floatForKey:" -s "" METHOD -f "-[NSUserDefaults floatForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "floatForKey:" -s "" METHOD -f "-[NSUserDefaults floatForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults floatForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults floatForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults floatForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults floatForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults floatForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults init]
BIND -n "init" -s "" METHOD -f "-[NSUserDefaults init]" TYPEDECL -f "NSUserDefaults"
BIND -n "init" -s "" METHOD -f "-[NSUserDefaults init]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults init]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults init]" RET SUBTYPE TYPE -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults init]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults init]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# -[NSUserDefaults initWithSuiteName:]
BIND -n "initWithSuiteName:" -s "" METHOD -f "-[NSUserDefaults initWithSuiteName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "initWithSuiteName:" -s "" METHOD -f "-[NSUserDefaults initWithSuiteName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults initWithSuiteName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithSuiteName:]" RET SUBTYPE TYPE -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithSuiteName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithSuiteName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithSuiteName:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults initWithUser:]
BIND -n "initWithUser:" -s "" METHOD -f "-[NSUserDefaults initWithUser:]" TYPEDECL -f "NSUserDefaults"
BIND -n "initWithUser:" -s "" METHOD -f "-[NSUserDefaults initWithUser:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults initWithUser:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithUser:]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithUser:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithUser:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults initWithUser:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults integerForKey:]
BIND -n "integerForKey:" -s "" METHOD -f "-[NSUserDefaults integerForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "integerForKey:" -s "" METHOD -f "-[NSUserDefaults integerForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults integerForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults integerForKey:]" RET SUBTYPE TYPE -f "NSInteger"
TYPEASSERT METHOD -f "-[NSUserDefaults integerForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults integerForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults integerForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults objectForKey:]
BIND -n "objectForKey:" -s "" METHOD -f "-[NSUserDefaults objectForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "objectForKey:" -s "" METHOD -f "-[NSUserDefaults objectForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults objectForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults objectForKey:]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults objectForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults objectForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults objectForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults objectIsForcedForKey:]
BIND -n "objectIsForcedForKey:" -s "" METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "objectIsForcedForKey:" -s "" METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" RET SUBTYPE TYPE -f "BOOL"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults objectIsForcedForKey:inDomain:]
BIND -n "objectIsForcedForKey:inDomain:" -s "" METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" TYPEDECL -f "NSUserDefaults"
BIND -n "objectIsForcedForKey:inDomain:" -s "" METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" RET SUBTYPE TYPE -f "BOOL"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"
TYPEASSERT METHOD -f "-[NSUserDefaults objectIsForcedForKey:inDomain:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults persistentDomainForName:]
BIND -n "persistentDomainForName:" -s "" METHOD -f "-[NSUserDefaults persistentDomainForName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "persistentDomainForName:" -s "" METHOD -f "-[NSUserDefaults persistentDomainForName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults persistentDomainForName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainForName:]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainForName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainForName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainForName:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults persistentDomainNames]
BIND -n "persistentDomainNames" -s "" METHOD -f "-[NSUserDefaults persistentDomainNames]" TYPEDECL -f "NSUserDefaults"
BIND -n "persistentDomainNames" -s "" METHOD -f "-[NSUserDefaults persistentDomainNames]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults persistentDomainNames]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainNames]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainNames]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults persistentDomainNames]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# -[NSUserDefaults registerDefaults:]
BIND -n "registerDefaults:" -s "" METHOD -f "-[NSUserDefaults registerDefaults:]" TYPEDECL -f "NSUserDefaults"
BIND -n "registerDefaults:" -s "" METHOD -f "-[NSUserDefaults registerDefaults:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults registerDefaults:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults registerDefaults:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults registerDefaults:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults registerDefaults:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults registerDefaults:]" PAR -i 3 SUBTYPE TYPE -f "NSDictionary*"

# -[NSUserDefaults removeObjectForKey:]
BIND -n "removeObjectForKey:" -s "" METHOD -f "-[NSUserDefaults removeObjectForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "removeObjectForKey:" -s "" METHOD -f "-[NSUserDefaults removeObjectForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults removeObjectForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults removeObjectForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults removeObjectForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults removeObjectForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults removeObjectForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults removePersistentDomainForName:]
BIND -n "removePersistentDomainForName:" -s "" METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "removePersistentDomainForName:" -s "" METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults removePersistentDomainForName:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults removeSuiteNamed:]
BIND -n "removeSuiteNamed:" -s "" METHOD -f "-[NSUserDefaults removeSuiteNamed:]" TYPEDECL -f "NSUserDefaults"
BIND -n "removeSuiteNamed:" -s "" METHOD -f "-[NSUserDefaults removeSuiteNamed:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults removeSuiteNamed:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults removeSuiteNamed:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults removeSuiteNamed:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults removeSuiteNamed:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults removeSuiteNamed:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults removeVolatileDomainForName:]
BIND -n "removeVolatileDomainForName:" -s "" METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "removeVolatileDomainForName:" -s "" METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults removeVolatileDomainForName:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setBool:forKey:]
BIND -n "setBool:forKey:" -s "" METHOD -f "-[NSUserDefaults setBool:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setBool:forKey:" -s "" METHOD -f "-[NSUserDefaults setBool:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setBool:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setBool:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setBool:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setBool:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setBool:forKey:]" PAR -i 3 SUBTYPE TYPE -f "BOOL"
TYPEASSERT METHOD -f "-[NSUserDefaults setBool:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setDouble:forKey:]
BIND -n "setDouble:forKey:" -s "" METHOD -f "-[NSUserDefaults setDouble:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setDouble:forKey:" -s "" METHOD -f "-[NSUserDefaults setDouble:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setDouble:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setDouble:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setDouble:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setDouble:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setDouble:forKey:]" PAR -i 3 SUBTYPE TYPE -f "double"
TYPEASSERT METHOD -f "-[NSUserDefaults setDouble:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setFloat:forKey:]
BIND -n "setFloat:forKey:" -s "" METHOD -f "-[NSUserDefaults setFloat:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setFloat:forKey:" -s "" METHOD -f "-[NSUserDefaults setFloat:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setFloat:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setFloat:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setFloat:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setFloat:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setFloat:forKey:]" PAR -i 3 SUBTYPE TYPE -f "float"
TYPEASSERT METHOD -f "-[NSUserDefaults setFloat:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setInteger:forKey:]
BIND -n "setInteger:forKey:" -s "" METHOD -f "-[NSUserDefaults setInteger:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setInteger:forKey:" -s "" METHOD -f "-[NSUserDefaults setInteger:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setInteger:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setInteger:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setInteger:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setInteger:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setInteger:forKey:]" PAR -i 3 SUBTYPE TYPE -f "NSInteger"
TYPEASSERT METHOD -f "-[NSUserDefaults setInteger:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setObject:forKey:]
BIND -n "setObject:forKey:" -s "" METHOD -f "-[NSUserDefaults setObject:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setObject:forKey:" -s "" METHOD -f "-[NSUserDefaults setObject:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setObject:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setObject:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setObject:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setObject:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setObject:forKey:]" PAR -i 3 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setObject:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setPersistentDomain:forName:]
BIND -n "setPersistentDomain:forName:" -s "" METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setPersistentDomain:forName:" -s "" METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" PAR -i 3 SUBTYPE TYPE -f "NSDictionary*"
TYPEASSERT METHOD -f "-[NSUserDefaults setPersistentDomain:forName:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setURL:forKey:]
BIND -n "setURL:forKey:" -s "" METHOD -f "-[NSUserDefaults setURL:forKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setURL:forKey:" -s "" METHOD -f "-[NSUserDefaults setURL:forKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setURL:forKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setURL:forKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setURL:forKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setURL:forKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setURL:forKey:]" PAR -i 3 SUBTYPE TYPE -f "NSURL*"
TYPEASSERT METHOD -f "-[NSUserDefaults setURL:forKey:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults setVolatileDomain:forName:]
BIND -n "setVolatileDomain:forName:" -s "" METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "setVolatileDomain:forName:" -s "" METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" PAR -i 3 SUBTYPE TYPE -f "NSDictionary*"
TYPEASSERT METHOD -f "-[NSUserDefaults setVolatileDomain:forName:]" PAR -i 4 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults stringArrayForKey:]
BIND -n "stringArrayForKey:" -s "" METHOD -f "-[NSUserDefaults stringArrayForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "stringArrayForKey:" -s "" METHOD -f "-[NSUserDefaults stringArrayForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults stringArrayForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults stringArrayForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults stringArrayForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults stringArrayForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults stringArrayForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults stringForKey:]
BIND -n "stringForKey:" -s "" METHOD -f "-[NSUserDefaults stringForKey:]" TYPEDECL -f "NSUserDefaults"
BIND -n "stringForKey:" -s "" METHOD -f "-[NSUserDefaults stringForKey:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults stringForKey:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults stringForKey:]" RET SUBTYPE TYPE -f "void"
TYPEASSERT METHOD -f "-[NSUserDefaults stringForKey:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults stringForKey:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults stringForKey:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults synchronize]
BIND -n "synchronize" -s "" METHOD -f "-[NSUserDefaults synchronize]" TYPEDECL -f "NSUserDefaults"
BIND -n "synchronize" -s "" METHOD -f "-[NSUserDefaults synchronize]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults synchronize]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults synchronize]" RET SUBTYPE TYPE -f "BOOL"
TYPEASSERT METHOD -f "-[NSUserDefaults synchronize]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults synchronize]" PAR -i 2 SUBTYPE TYPE -f "SEL"

# -[NSUserDefaults volatileDomainForName:]
BIND -n "volatileDomainForName:" -s "" METHOD -f "-[NSUserDefaults volatileDomainForName:]" TYPEDECL -f "NSUserDefaults"
BIND -n "volatileDomainForName:" -s "" METHOD -f "-[NSUserDefaults volatileDomainForName:]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults volatileDomainForName:]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainForName:]" RET SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainForName:]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainForName:]" PAR -i 2 SUBTYPE TYPE -f "SEL"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainForName:]" PAR -i 3 SUBTYPE TYPE -f "NSString*"

# -[NSUserDefaults volatileDomainNames]
BIND -n "volatileDomainNames" -s "" METHOD -f "-[NSUserDefaults volatileDomainNames]" TYPEDECL -f "NSUserDefaults"
BIND -n "volatileDomainNames" -s "" METHOD -f "-[NSUserDefaults volatileDomainNames]" TYPEDECL -f "NSUserDefaults*"
#EDGE BOTH AST -s METHOD -f "-[NSUserDefaults volatileDomainNames]" -d TYPEDECL -f "NSUserDefaults"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainNames]" RET SUBTYPE TYPE -f "NSArray*"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainNames]" PAR -i 1 SUBTYPE TYPE -f "id"
TYPEASSERT METHOD -f "-[NSUserDefaults volatileDomainNames]" PAR -i 2 SUBTYPE TYPE -f "SEL"

