[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
